out
dist
**/node_modules
.vscode-test/

**/.idea
**/.DS_Store

src-ext/test/example

# exclude typscript compiled files
src/**/*.js
src/**/*.js.map
src-ext/**/*.js
src-ext/**/*.js.map
scripts/**/*.js
scripts/**/*.js.map

media/css/fonts.css