.vscode/**
.vscode-test/**
.github
.gitignore
.idea
.browserslistrc

media/css/fonts.css
scripts/
src/**
src-ext/**

**/tsconfig*.json
**/.eslintrc.json
**/.eslintrc.js
**/babel.config.js
**/vue.config.js
**/*.map
**/*.ts