.vscode/**
.vscode-test/**
out/**
src/**
src-ext/**
.browserslistrc
.github
.gitignore
.idea
.yarnrc
vsc-extension-quickstart.md
**/tsconfig*.json
**/.eslintrc.json
**/.eslintrc.js
**/babel.config.js
**/vue.config.js
**/*.map
**/*.ts
scripts/